/**************************************
          DEFAULTS
***************************************/
*{
	padding:0;
	margin:0;	
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
html, body{
	background-color: #16a085;
	/*#e4e4e4; This can be changed to match the page backgrounds */	
}
body{
	font-size:5vmin;	/* set the starting size for the app */
}
h2{
	font-size:2.4rem;
	line-height:1.6;
	text-align: center;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	text-shadow: 2px 2px #f39c12;
	letter-spacing: 3px;
	word-spacing: 10px;
}
p{
	font-size:1.5rem;
	line-height:2;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

/**************************************
          PAGES
***************************************/
[data-role=page]{
	background-color:#16a085;
	color: #eee;
	width: 100%;
	margin: 0 auto;
	/*7rem is space for the app title 
	as well as the navigation */
	position:absolute;
	top:7rem;
	padding:1rem 1rem 4rem 1rem;
	display:none;
}
.active{
	display:block;	
	/* show one page at a time*/
}

[data-role=overlay]{
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.82);
}
[data-role=modal]{
    display:none;
    position:fixed;
    top:20%;
    left:10%;
    width: 80%;
    z-index:15;
    max-height:80%;
    padding:5vh;
    border:1px solid #333;
    min-height:10%;
    color:#fff;
    background-color:#666;
    box-shadow:1px 1px 2px rgb(0,0,0);
}


/**************************************
          TITLE
***************************************/
.apptitle{
	height:3rem;
	background-color: #f1c40f;
	color: #ab7901;
	padding-top: 10px;
}
.apptitle h1{
	font-size: 1.0rem;
	line-height: 2rem;
	padding: 0.5rem 1.0rem;
	text-align:center;
	letter-spacing: 2px;
	word-spacing: 10px;
	text-transform:uppercase;
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;	
}

/**************************************
          NAVBAR 
***************************************/
.tabs{
	height: 4rem;
}
.tabs ul{
	list-style:none;
	overflow:hidden;	
}
.tabs li{
	float:left;
	height:4rem;
	background-color:red;
}
.li-1-5{
	width: 20%;	
	/* for 5 tabs each is 20% */
}
.li-1-4{
	width: 25%;	
	/* for 4 tabs each is 25% */
}
.li-1-3{
	width: 33%;
	/* for 3 tabs each is 33% */
}
.li-1-2{
	width: 50%;
	/* for 2 tabs each is 50% */
}
.tabs [data-role=pagelink]{
	color: #649a90;	
	background: #04715c;
	display:block;
	text-align:center;
	height:4rem;
	font-size:2rem;
	font-weight:bold;
	font-family: Georgia,Times,"Times New Roman",serif;
	line-height:2rem;
	padding:1rem 1rem;
	text-decoration:none;
	/* shadow helps make the non-active tabs receed */
	-webkit-box-shadow: inset 2px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: inset 2px 2px 6px rgba(0,0,0, 0.5); 
	box-shadow: inset 2px 2px 6px rgba(0,0,0, 0.5);
}
.tabs [data-role=pagelink].activetab{
	background:#16a085;	/* match the background of the screen */
	color: #ffe684;/* colour makes the active tab jump forward */
	text-shadow: 2px 2px 4px #30302f;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	
}

#photoDiv{
    width: 400px;
    height: 300px;
}
#photoFromCamera{
    width:100%;
    height:100%;
}
#photoControls{
    width:100%;
    height:100%;
}
input{
    line-height: 5vmin;
    font-size: 1.5rem;
	margin: 0 auto;
}

#thumbPhoto{
    display: none;
}
